.container{
    margin-right: auto;
    overflow-x: hidden;
    overflow: hidden;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (min-width: 320px) {
        width: 320px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 480px) {
        width: 480px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }
    }